<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale.language}">
<head>
    <title th:text="${page.title}">Create short</title>
    <th:block th:replace="~{fragments/app-tools :: socialHead}"></th:block>
</head>
<body class="bg-body-tertiary">
    <div th:replace="~{fragments/social-shell
            :: layout(${page.shell}, 'bg-body-tertiary', ~{::pageContent})}">
        <th:block th:fragment="pageContent">
            <div class="row justify-content-center">
                <div class="col-12 col-xxl-10 d-grid gap-3">
                    <div th:replace="~{fragments/components/breadcrumb
                            :: breadcrumb(${page.breadcrumb})}"></div>
                    <div th:replace="~{post/short/owner/fragments/composer
                            :: composer(${page})}"></div>
                </div>
            </div>
        </th:block>
    </div>
</body>
</html>
