<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${page.title}">Cronjobs</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script th:src="@{/js/app-ui.js}"></script>
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/app-ui.css}">
    <link rel="stylesheet" th:href="@{/css/shell.css}">
    <th:block th:replace="~{fragments/app-tools :: frontendScripts}"></th:block>
    <script defer th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script defer th:src="@{/js/app-modal.js}"></script>
</head>
<body class="app-shell bg-body-tertiary">
    <div th:replace="~{fragments/app-shell
            :: layout(${page.shell}, ~{::pageContent})}">
        <th:block th:fragment="pageContent">
            <div class="app-page-stack">
                            <div th:if="${page.errorMessage != null}"
                                 class="alert app-error-alert mb-0"
                                 th:text="${page.errorMessage}">
                                Please correct the form and try again.
                            </div>

                            <div th:replace="~{fragments/components/table :: table(${page.cronJobTable})}"></div>

                            <th:block th:if="${page.metadataModal != null}">
                                <div th:replace="~{fragments/components/metadata-modal :: modal(${page.metadataModal})}"></div>
                            </th:block>

                            <th:block th:if="${page.detailModal != null}">
                                <div th:replace="~{fragments/components/modal :: modal(${page.detailModal})}"></div>
                            </th:block>
            </div>
        </th:block>
    </div>

    <div th:if="${page.openMetadataModal}"
         th:replace="~{fragments/app-tools
                :: autoModal('cronjob-metadata-modal')}"></div>
    <div th:if="${page.openDetailModal}"
         th:replace="~{fragments/app-tools
                :: autoModal('cronjob-detail-modal')}"></div>
</body>
</html>
